
@model Setting
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Edit</h1>

            <form asp-action="edit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Key">Key</label>
                    <input type="text" class="form-control" asp-for="Key" placeholder="Enter Key">
                    <span asp-validation-for="Key"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value">Value</label>
                    <input type="text" class="form-control" asp-for="Value" placeholder="Enter Value">
                    <span asp-validation-for="Value"></span>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Edit</button>
            </form>
        </div>

    </div>
</div>





