@model AdminUpdateViewModel

<div class="container">
    <h1>Edit</h1>
    <div class="row">

        <form asp-action="edit" method="post">
            <div class="form-group">
                <label asp-for="FullName">FullName</label>
                <input type="text" class="form-control" asp-for="FullName" placeholder="Enter FullName">
                <span asp-validation-for="FullName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username">UserName</label>
                <input type="text" class="form-control" asp-for="Username" readonly placeholder="Enter UserName">
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Enter Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="text" class="form-control" placeholder="Enter New Password">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary"></button>
        </form>
    </div>
</div>