
@model Slider
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Edit</h1>

            <form asp-action="edit" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title1">Title1</label>
                    <input type="text" class="form-control" asp-for="Title1" placeholder="Enter Title1">
                    <span asp-validation-for="Title1"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title2">Title2</label>
                    <input type="text" class="form-control" asp-for="Title2" placeholder="Enter Title2">
                    <span asp-validation-for="Title2"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BtnText">BtnText</label>
                    <input type="text" class="form-control" asp-for="BtnText" placeholder="Enter BtnText">
                    <span asp-validation-for="BtnText"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BtnUrl">BtnUrl</label>
                    <input type="text" class="form-control" asp-for="BtnUrl" placeholder="Enter BtnUrl">
                    <span asp-validation-for="BtnUrl"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc1">Desc1</label>
                    <input type="text" class="form-control" asp-for="Desc1" placeholder="Enter Desc1">
                    <span asp-validation-for="Desc1"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc2">Desc2</label>
                    <input type="text" class="form-control" asp-for="Desc2" placeholder="Enter Desc2">
                    <span asp-validation-for="Desc2"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order">Order</label>
                    <input class="form-control" asp-for="Order" placeholder="Enter Order">
                    <span asp-validation-for="Order"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input class="form-control" asp-for="ImageFile" placeholder="Select Image">
                    <span asp-validation-for="ImageFile"></span>
                    @if (Model.Image != null)
                    {
            <div style="display: inline-block; position: relative;" class="img-box mt-4">
                <i style="color:red; right: 0; position: absolute; top: -20px;" class="delete-img-box fas fa-times"></i>
                <input type="hidden" name="Image" value="@Model.Image" />
                <img style="width:200px" src="~/upload/slider/@Model.Image" />
            </div>}

                </div>
                <button type="submit" class="btn btn-primary mb-2">Edit</button>
            </form>
        </div>

    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $(document).on("click", ".delete-img-box", function () {
                $(this).parent().remove()
            })
        })
    </script>
}

