@model MemberUpdateViewModel
<h3 class="accheader">Account Details</h3>
<form asp-action="edit" method="post">
    
        
       
    <div class="single-input-item">
        <button type="submit" class="check-btn sqr-btn ">Save Changes</button>
    </div>
</form>