@model Product

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

    </div>
    <div class="modal-body">
        <!-- product details inner end -->
        <div class="product-details-inner">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product-large-slider mb-20">
                        <div class="pro-large-img img-zoom">
                            <img style="width: 100%;" src="~/upload/product/@Model.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.ImageUrl" alt="product thumb" />
                        </div>
                    </div>

                </div>
                <div class="col-lg-7">
                    <div class="product-details-des">
                        <h3 class="pro-det-title">@Model.Name</h3>
                        <div class="pro-review">
                            <span>
                                <a style="font-size: 15px;" href="#">
                                    <div class="product-review">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= Model.Rate)
                                            {
                                                <span><i style="color: yellow;" class="fas fa-star"></i></span>

                                            }
                                            else
                                            {
                                                <span><i style="color: yellow;" class="far fa-star"></i></span>

                                            }
                                        }
                                    </div>
                                </a>
                            </span>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                        <div class="product-info mb-20">
                            Availability:<span> "In Stock"</span>
                            Brand:<span> "@Model.Brand.Name"</span>
                        </div>

                        <div class="price-box">
                            <span style="font-size: 20px;" class="regular-price">$@((Model.SalePrice*(1-Model.DiscountPercent/100)).ToString("0.00"))</span>
                            <span style="font-size: 20px;" class="old-price"><del>$@Model.SalePrice</del></span>
                        </div>

                        <div class="color">
                            <h5>Color:</h5>
                            @foreach (var color in Model.ProductColors)
                            {
                                <span>@color.Color.Name</span>
                            }

                        </div>

                        <div class="quantity-cart-box d-flex align-items-center mb-20">
                            
                            <a class="button add-to-basket" asp-controller="product" asp-action="addtobasket" asp-route-id="@Model.Id">Add to Cart</a>
                        </div>

                        <div class="share-icon">
                            <h5 class="cat-title">Share:</h5>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product details inner end -->
    </div>
</div>