@model ResetPasswordViewModel
<!-- breadcrumb area start -->
<div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Reset Password</h1>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- login register wrapper start -->
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Login Content Start -->
                <div class="col-lg-6">
                    <div class="login-reg-form-wrap">
                        <h2>Reset</h2>
                        <form method="post">

                            <div class="col-lg-6">
                                <div class="single-input-item">
                                    <input asp-for="NewPassword" placeholder="Enter your Password" />
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-input-item">
                                    <input asp-for="ConfirmNewPassword" placeholder="Enter your NewPassword" />
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                            </div>

                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                            <div class="single-input-item">
                                <button type="submit" class="btn">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login Content End -->
            </div>
        </div>
    </div>
</div>
<!-- login register wrapper end -->
s